header {
    @include xy-cell();

    .nav-container {
        @include xy-grid;

        .cogMenu {

            img {
                height: 2rem;
                width: 2rem;
                cursor: pointer;
                margin: 1rem;
                margin-bottom: 0;
            }
        }
    }
}