.user-card {
    min-height: 18rem;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color:#E0E5EC;
    box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    
    &.darkMode {
        background-color: #505050;
        box-shadow: 9px 9px 16px rgba(56, 57, 58, 0.6), -9px -9px 16px rgba(89, 93, 99, 0.6) ;

        .name-container .name {
            color: lighten($name-color, 10%);
        }
        .revenue .number {
            font-size: 2rem;
            color: darken($revenue-color, 10%);
        }

        .impressions .number {
            color: darken($impression-color, 10%);
        }

        .conversions .number {
            color: darken($conversion-color, 10%);
        }
    }

    .user-info-container {
        align-items: center;
        justify-content: center;
        @include xy-grid();
        justify-content: space-between;

        .profile-img {
            @include xy-cell(3);
            height: 100%;
            margin: 0;

            img {
                border-radius: 50%;
                max-width: 6rem;
            }

            .default-img {
                color: #fff;
                @include random-bgr();
                border-radius: 50%;
                width: 100%;
                height: 6rem;
                width: 6rem;
                justify-content: center;
                align-items: center;
                @include xy-grid;
                
                span {
                    @include xy-cell();
                    text-align: center;
                    font-size: 3rem;
                 }
            }
        }


        .name-container {
            font-weight: bold;
            @include xy-cell(9);

            .name {
                font-size: 2rem;
                line-height: 2rem;
            }

            .position {
                font-size: 1.2rem;
                color: $light;
                text-transform: capitalize;
                padding: 0;
                padding-left: .75rem;
            }
        }
    }

    .stats-container {
        @include xy-grid();

        .graph-container {
            @include xy-cell(7);
            margin-top: 2rem;
        }

        .stats {
            @include xy-cell(5);
            text-align: right;

            .number {
                font-weight: bold;
                font-size: 2rem;
                margin-bottom: 0;
                padding-top: .75rem;
                line-height: 1.8rem;
            }

            .revenue .number {
                font-size: 2rem;
                color: $revenue-color;
            }

            .impressions .number {
                color: $impression-color;
            }

            .conversions .number {
                color: $conversion-color;
            }

            .stat-title {
                font-size: 1rem;
                color: $light;
                font-weight: bold;
            }
        }

    }
}