@import '~foundation-sites/scss/util/util.scss';

// Base Colors
// $color-blue: #023e5c;


// Fonts
// $font-roboto: "roboto", sans-serif;


// font weights
// $light: 400;


// path to fontawesome font relative to compiled css files
$fa-font-path: "../src/fontawesome-css/webfonts";

// change row width
$row-width: rem-calc(1200);


@mixin random-bgr(){
    background-color: rgb(random(255), random(255), random(255));
}